*{
    margin: 0;
}
#first{
background-image: url(../img/image1.jpg);


color: rgb(88, 243, 4);

    font-family: 'Times New Roman', Times, serif;
font-weight: 100px;
width: 100%;
height: 80px;
background-repeat: no-repeat;
}

.box{

background-image: url(../img/image1.jpg);
    color: rgb(83, 195, 22);
    width: 100%;
    height: 400px;
background-repeat: no-repeat;

}
